<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="vehicle_sedan" class="com.alpha.aop.domain.Sedan"></bean>
    <bean id="vehicle_truck" class="com.alpha.aop.domain.Truck"></bean>

    <bean id="beforeAdvice" class="com.alpha.aop.advice.BeforeRunning"></bean>

    <bean id="afterAdvice" class="com.alpha.aop.advice.AfterRunning"></bean>

    <bean id="staticAdvisor" class="com.alpha.aop.advisor.StaticAdvisor"
          p:advice-ref="afterAdvice">
    </bean>

    <!--BeanNameAutoProxyCreator need to know a advice or advisor.both are ok-->
    <beans profile="byName">
        <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator"
              p:beanNames="vehicle*"
              p:interceptorNames="beforeAdvice"
              p:optimize="true">
        </bean>
    </beans>

    <!--DefaultAdvisorAutoProxyCreator can automatically scan advisors in container,
    then according to the condition presenting by advisors,creating proxies for qualified beans-->
    <beans profile="autoScan">
        <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
              p:optimize="true"></bean>
    </beans>


</beans>